.titulo {
    font-size: x-large;
    font-weight: 100px;
    background-color: lightblue;
}

.sequencia1 {
    background-color: darkgray;
    border: 1px;
    border-color: black;
    border-style: groove;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-gap:10px;
    grid-template-columns:auto;
    grid-template-rows:50px 420px;
    grid-template-areas: 'a b c';
}

.sequencia2 {
    background-color: darkgray;
    border: 1px;
    border-color:black;
    border-style: groove;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-gap:10px;
    grid-template-columns:auto;
    grid-template-rows:50px 455px;
    grid-template-areas: 'a b c';
}

.p1 {
    text-align: justify;
    margin: 40px;
}
.p2 {
    text-align: justify;
    margin: 40px;
}
.p3 {
    text-align: justify;
    margin: 40px;
}
.p4 {
    text-align: justify;
    margin: 40px;
}
.p5 {
    text-align: justify;
    margin: 40px;
}
.p6 {
    text-align: justify;
    margin: 40px;
}
.conteudo {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px;
    border-style: groove;
    border-color: blue;
}